body {
  margin: 0;
  padding: 0;
  font-family: 'Sura', serif;
  background-image: url("../img/SoundGarden_forest.png");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

}
* {
  box-sizing: border-box;
}


/* HEADER */
header {
  position: relative;
}

.title-soundgarden {
  position: absolute;
  left: 2.7vw;
  top: 1vw;
}

.title-soundgarden img{
  height: 3.072vw;
}

.title-leez {
  position: absolute;
  right: 2.7vw;
  top: 1vw;

}
.title-leez img {
  height: 2.879vw;

}

.line {
  position: relative;
}

.line-1 {
  left:0;
}

.line-2 {
  position: absolute;
  right: 0;
}

.line-3 {
  position: absolute;
  right: 0.6vw;
}


.line-2 img, .line-1 img, .line-3 img {
  height: 100vh;
}

.compass1 img {
  position: absolute;
  top: 3.9vw;
  right: 2.3vw;
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
  width: 14.16vw;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
.compass2 {
  position: absolute;
  top: 3.9vw;
  right: 2.3vw;
  width: 14.16vw;
}

  
/* SEED */
.seed1 img {
  position: absolute;
  top: 23vw;
  left: 30vw;
  width: 8.33vw;
}
.seed2 img {
  position: absolute;
  top: 10.82vw;
  left: 75.279vw;
  width: 4.33vw;
}
.seed3 img {
  position: absolute;
  top: 13.82vw;
  left: 5.679vw;
  width: 4.33vw;
}

.seed4 img {
  position: absolute;
  top: 20.78vw;
  left: 40vw;
  width: 5.33vw;
}
.seed5 img {
  position: absolute;
  top: 25.8vw;
  left: 10.93vw;
  width: 8.33vw;
}
.seed6 img {
  position: absolute;
  top: 30.9vw;
  left: 74.41vw;
  width: 4.06vw;
}
.seed7 img {
  position: absolute;
  top: 23vw;
  left: 30vw;
  width: 8.33vw;
}
.seed8 img {
  position: absolute;
  top: 23vw;
  left: 30vw;
  width: 8.33vw;
}

/* BOTTOM */

.bottom {
  position: absolute;
  left:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.trebleclef img {
  position: absolute;
  height: 100vh;
  /* width: 4.85vw; */
}

.script img {
  z-index: 1;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 74vh;
  /* top: 00px; */
}

.menu1 img {
  position: absolute;
  height: 1.9vh;
  top: 93vh;
  left: 13.09vw;
}

.menu2 img {
  position: absolute;
  height: 1.9vh;
  top: 93vh;
  left: 33.07vw;
}

.menu3 img {
  position: absolute;
  height: 1.6vh;
  top: 93vh;
  left: 60vw;
}

.menu4 img {
  position: absolute;
  height: 1.6vh;
  top: 93vh;
  left: 80.31vw;
}

.horizontalline img{
  position: absolute;
  top: 95vh;
  width: 100vw;
}

.from img {
  position: absolute;
  top: 96vh;
  height: 0.7vw;
  left: 43vw;
}