body {
  margin: 0;
  padding: 0;
  font-family: 'Sura', serif;
  background-image: url("../img/musicbook_background.png");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

}
* {
  box-sizing: border-box;
}


/* HEADER */
header {
  position: relative;
}

.title-soundgarden {
  z-index: 1;

  position: absolute;
  left: 2.7vw;
  top: 1vw;
}

.title-soundgarden img{
  z-index: 1;
  height: 3.072vw;
}

.title-leez {
  z-index: 1;

  position: absolute;
  right: 2.7vw;
  top: 1vw;

}
.title-leez img {
  z-index: 1;

  height: 2.879vw;

}

.line {
  position: relative;
}

.line-1 {
  left:0;
}

.line-2 {
  position: absolute;
  right: 0;
}

.line-3 {
  z-index: 1;

  position: absolute;
  right: 0.6vw;
}


.line-2 img, .line-1 img, .line-3 img {
  height: 100vh;
}

.compass1 img {
  z-index: 1;

  position: absolute;
  top: 3.9vw;
  right: 2.3vw;
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
  width: 14.16vw;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
.compass2 {
  z-index: 1;

  position: absolute;
  top: 3.9vw;
  right: 2.3vw;
  width: 14.16vw;
}



/* ARROW */

.arrow {
  position: fixed;
  z-index: 1;
}
.arrow img{
  position: fixed;
  top: 17vw;
  right: 0;
  height: 20vw;
}

.middleline {
  position: absolute;
  top:27vw;
  width: 100vw;

}
.middleline img {
  width: 100vw;
}

/* BOTTOM */

.bottom {
  
  position: absolute;
  left:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.trebleclef img {
  z-index: 1;

  position: absolute;
  height: 100vh;
  /* width: 4.85vw; */
}

.menu1 img {
  z-index: 1;

  position: absolute;
  height: 1.9vh;
  top: 93vh;
  left: 13.09vw;
}

.menu2 img {
  z-index: 1;

  position: absolute;
  height: 1.9vh;
  top: 93vh;
  left: 33.07vw;
}

.menu3 img {
  z-index: 1;

  position: absolute;
  height: 1.6vh;
  top: 93vh;
  left: 60vw;
}

.menu4 img {
  z-index: 1;

  position: absolute;
  height: 1.6vh;
  top: 93vh;
  left: 80.31vw;
}

.horizontalline img{
  position: absolute;
  top: 95vh;
  width: 100vw;
}

.from img {
  position: absolute;
  top: 96vh;
  height: 0.7vw;
  left: 43vw;
}


/* CONTAINER */
.img-container {
  /* background-color: palegreen; */
  position: absolute;
  /* display: flex;
  justify-content: center; */
  width: 100vw;
  height: 60vw;
  /* white-space: nowrap; */

  overflow-x: scroll;
  bottom: 0;
  top: 4.5vw;
  left: 0;
}

.img-container::-webkit-scrollbar{
  display: none; 
}

/* Musicbook */

.musicbook {
  position: absolute;
  width: 58vw;
  /* top: 1vw; */
  left: 23vw;
}

.score1 {
  position: absolute;
  width: 56vw;
  top: 19vw;
  left: 77vw;
}

.soundforest {
  position: absolute;
  width: 40vw;
  /* top: 1vw; */
  left: 132.4vw;
}

.musicscore1-1 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 132.4vw;

}
.musicscore1-2 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 145.8vw;

}
.musicscore1-3 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 159vw;

}


.score2 {
  position: absolute;
  width: 56vw;
  top: 19vw;
  left: 172.2vw;
}
.soundflower {
  position: absolute;
  width: 50.6vw;
  /* top: 1vw; */
  left: 210vw;
}
.musicscore2-1 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 209vw;

}
.musicscore2-2 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 222vw;

}
.musicscore2-3 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 235vw;

}
.musicscore2-4 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 248vw;

}

.score3 {
  position: absolute;
  width: 56vw;
  top: 17vw;
  left: 258.2vw;
}

.nightfall1 {
  position: absolute;
  width: 51vw;
  /* top: 1vw; */
  left: 313.4vw;
}
.musicscore3-1 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 312.9vw;

}
.musicscore3-2 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 325.9vw;

}
.musicscore3-3 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 338.9vw;

}
.musicscore3-4 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 351.9vw;

}






.score4 {
  position: absolute;
  width: 40vw;
  top: 15vw;
  left: 364.2vw;
}

.nightfall2 {
  position: absolute;
  width: 51vw;
  /* top: 1vw; */
  left: 403.3vw;
}
.musicscore4-1 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 402.7vw;

}
.musicscore4-2 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 415.7vw;

}
.musicscore4-3 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 428.7vw;

}
.musicscore4-4 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 441.7vw;

}

.score5 {
  position: absolute;
  width: 40vw;
  top: 17vw;
  left: 449.5vw;
}
.swanlake {
  position: absolute;
  width: 40vw;
  /* top: 1vw; */
  left: 480.3vw;
}
.musicscore5-1 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 480.3vw;

}
.musicscore5-2 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 493.7vw;

}
.musicscore5-3 {
  position: absolute;
  width: 13.4vw;
  top: 41vw;
  left: 507.1vw;

}

.score6 {
  position: absolute;
  width: 40vw;
  top: 19vw;
  left: 505.3vw;
}
