body {
  margin: 0;
  padding: 0;
  font-family: 'Sura', serif;
  background-image: url("../img/seed_background.png");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

}
* {
  box-sizing: border-box;
}


/* HEADER */
header {
  position: relative;
  height: 100vh;
}

.title-soundgarden {
  z-index: 1;
  position: absolute;
  left: 2.7vw;
  top: 1vw;
}

.title-soundgarden img{
  height: 4vw;
}

.title-leez {
  position: absolute;
  right: 2.7vw;
  top: 1vw;

}
.title-leez img {
  height: 3.93vw;

}

.line {
  position: relative;
}

.line-1 {
  left:0;
}

.line-2 {
  position: absolute;
  right: 0;
}

.line-3 {
  position: absolute;
  right: 0.6vw;
}


.line-2 img, .line-1 img, .line-3 img {
  height: 100vh;
}

.compass1 img {
  z-index: 1;
  position: absolute;
  /* top: 3.9vw; */
  top: 85px;
  right: 2.3vw;
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
  width: 14.16vw;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
.compass2 {
  z-index: 1;
  position: absolute;
  top: 85px;
  right: 2.3vw;
  width: 14.16vw;
}


.img-container {
  z-index: 1;
  /* background-color: palegreen; */
  position: absolute;
  width: 100vw;
  height: calc(100vh-20vw);
  /* white-space: nowrap; */

  overflow-y: scroll;
  top: 2vw;
  bottom: 5vw;
  left: 0;

}
.img-container::-webkit-scrollbar{
  display: none; 
}


/* P-img */
.p-fig1 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 23.4vw;
}

.p-fig2 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 23.4vw;
}
.p-fig3 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 23.4vw;
}

.p-fig4 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 18.4vw;
}
.p-fig5 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 17.4vw;
}
.p-fig6 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 17.4vw;
}

.p-fig7 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 30.4vw;
}
.p-fig8 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 30.4vw;
}
.p-fig9 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 30.4vw;
}
.p-fig10 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 22.4vw;
}
.p-fig11 {
  position: absolute;
  top:43vw;
  left: 34.5vw;
  width: 15.4vw;
}


/* S-img */

.s-fig1 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 20.4vw;
}
.s-fig2 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 30.4vw;
}
.s-fig3 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 22.4vw;
}
.s-fig4 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig5 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 20.4vw;
}
.s-fig6 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 24.4vw;
}
.s-fig7 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 24.4vw;
}
.s-fig8 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 28.4vw;
}
.s-fig9 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 28.4vw;
}
.s-fig10 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 28.4vw;
}
.s-fig11 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 29.4vw;
}
.s-fig12 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 29.4vw;
}
.s-fig13 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 14.4vw;
}
.s-fig14 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 14.4vw;
}
.s-fig15 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 24.4vw;
}
.s-fig16 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 30.4vw;
}
.s-fig17 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig18 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig19 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig20 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig21 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig22 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 18.4vw;
}
.s-fig23 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 31.4vw;
}

.s-fig24 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 31.4vw;
}
.s-fig25 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig26 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 18.4vw;
}
.s-fig27 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.s-fig28 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 30.4vw;
}
.s-fig29 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 30.4vw;
}
.s-fig30 {
  position: absolute;
  top:43.5vw;
  left: 34.5vw;
  width: 23.4vw;
}
.modal {
  position: absolute;
  /* top: 2vw; */
  left: 29vw;
  width: 40.4vw;
}

.fig { 
  position: absolute;
  top: 3vw;
  left: 34.5vw;
  width: 30vw;}





/* BOTTOM */

.bottom {
  position: absolute;
  left:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.trebleclef img {
  position: absolute;
  height: 100vh;
  /* width: 4.85vw; */
}

.horizontalline img{
  position: absolute;
  top: 95vh;
  width: 100vw;
}

.from img {
  position: absolute;
  top: 96vh;
  height: 0.7vw;
  left: 43vw;
}